#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#game-container {
    width: 100%;
    max-width: 768px;
    min-width: 360px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#game-canvas {
    background: #eee;
    display: block;
}
